<%= form_for(@correction) do |f| %>
  <% if @correction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correction.errors.count, "error") %> prohibited this correction from being saved:</h2>

      <ul>
      <% @correction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :event_id %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :formatted_address %><br />
    <%= f.text_field :formatted_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
