<%= form_for(@correction) do |f| %>
  <% if @correction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correction.errors.count, "error") %> prohibited this correction from being saved:</h2>

      <ul>
      <% @correction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :event_id %>

  <div class="field">
    <%= f.label :start_time %>
    <%= render :partial => "shared/datepicker", :locals => { :f => f, :field => :start_time, :default => @correction.event.start_time } %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= render :partial => "shared/datepicker", :locals => { :f => f, :field => :end_time, :default => @correction.event.end_time } %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= render :partial => "shared/locationpicker", :locals => { :f => f, :latitude => @correction.event.latitude, :longitude => @correction.event.longitude } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
