<h1>Review Corrections</h1>

<div class="correction-list container">
    <% @events.each do |event| %>
      <%= render :partial => "shared/event", :locals => { :event => event, :show_corrections => false } %>
      <div class="corrections">
        <%= form_for event, :url => correct_event_path(event), :method => :post do |f| %>
          <% event.corrections.each do |correction| %>
            <input type="radio" name="correction_id" value="<%= correction.id %>">
              <%= correction.formatted_address %> : <%= correction.start_time %>
            </input>
          <% end %>
          <div class="actions">
            <%= f.submit "Submit Correction" %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
