<h1>Today's Food Trucks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.formatted_location %></td>
    <td><%= event.latitude %></td>
    <td><%= event.longitude %></td>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.description %></td>
  </tr>
<% end %>
</table>
