<% if params[:mobile] %>
  <style>
    body div.events {
        left: 0;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }
  </style>
<% end %>

<div class="events">
  <div class="date-control">
    <% if @previous_day_path %>
      <%= link_to "«", @previous_day_path %>
    <% end %>
    <%= @current_date %>
    <% if @next_day_path %>
      <%= link_to "»", @next_day_path %>
    <% end %>
  </div>
  <%= render :partial => "shared/event", :collection => @events %>
  <% if @events.empty? %>
    No food trucks found.
  <% end %>
  <div class="range-control">
    <%= link_to "[-]", @decrease_range_path %>
    <%= @sensor[:range] %> mile range
    <%= link_to "[+]", @increase_range_path %>
  </div>
</div>
<% if !params[:mobile] %>
  <div class="map">
    <div id="map-canvas"></div>
  </div>

  <%= javascript_tag do -%>
    var sensor = <%= @sensor.to_json.html_safe %>;
    var events = <%= @events.to_json(:only => [:latitude, :longitude], :include => :truck).html_safe %>;
    window.onload = function() { loadGoogleMapsAPI("initializeMap"); }
  <% end -%>
<% end %>
