<div class="events container">
  <% @events.each do |event| %>
    <div class="event row">
      <%= image_tag event.profile_image_url, :class => "event-avatar span1", :alt => "Avatar" %>
      <div class="event-inner span11">
        <div class="event-information">
          <span class="event-name"><%= event.name %></span>
          -
          <span class="event-details">
            <%= link_to event.location, event.google_maps_url %>
            at
            <%= event.formatted_start_time %>
          </span>
        </div>
        <div class="event-tweet">
          <%= event.description %> <%= link_to event.formatted_created_at, event.tweet_url %>
        </div>
      </div>
    </div>
  <% end %>
</div>
