<div class="events container-fluid">
  <% @events.each do |event| %>
    <div class="event row-fluid">
      <%= image_tag event.avatar_url, :class => "event-avatar span1", :alt => "Avatar" %>
      <div class="event-inner span11">
        <div class="event-information">
          <span class="event-name"><%= event.title %></span>
          -
          <span class="event-details">
            <%= link_to event.location, event.map_url %> 
            <% if event.distance %>
              (<%= event.formatted_distance %> away)
            <% end %>
            at
            <%= event.formatted_start_time %>
          </span>
        </div>
        <div class="event-tweet">
          <%= event.tweets.first.text %> <%= link_to event.tweets.first.formatted_timestamp, event.tweets.first.url %>
        </div>
      </div>
    </div>
  <% end %>
</div>
