<div class="container-fluid">
  <div class="row-fluid">
    <div class="events span4">
      <div class="date-control row">
        <% if @previous_day_path %>
          <%= link_to "«", @previous_day_path %>
        <% end %>
        <%= @current_date %>
        <% if @next_day_path %>
          <%= link_to "»", @next_day_path %>
        <% end %>
      </div>
      <%= render :partial => "shared/event", :collection => @events %>
      <% if @events.empty? %>
        No food trucks found.
      <% end %>
      <div class="range-control row">
        <%= link_to "[-]", @decrease_range_path %>
        <%= @sensor[:range] %> mile range
        <%= link_to "[+]", @increase_range_path %>
      </div>
    </div>
    <div class="map span8">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>

<%= javascript_tag do -%>
  var sensor = JSON.parse('<%= @sensor.to_json.html_safe %>');
  var events = JSON.parse('<%= @events.to_json(:only => [:latitude, :longitude], :include => { :tweets => { :include => :truck, :only => [:tweet_id] } }).html_safe %>');
  window.onload = function() { loadGoogleMapsAPI("initializeMap"); }
<% end -%>
