<h1>Food trucks near you</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= link_to event.location, event.google_maps_url %></td>
    <td><%= event.formatted_distance %></td>
    <td><%= event.formatted_start_time %></td>
    <td><%= event.description %> <%= link_to event.formatted_created_at, event.tweet_url %></td>
  </tr>
<% end %>
</table>
