<%= f.hidden_field field %>
<div class="input">
	<div class="inline-inputs">
		<input data-datepicker="datepicker" class="small" type="text" value="<%= default.strftime "%Y-%m-%d" %>" id="<%= f.id_for field %>_date" />
		<input class="mini" type="text" value="<%= default.strftime "%-l:%M %P" %>" id="<%= f.id_for field %>_time" />
	</div>
</div>

<%= javascript_tag do -%>
	$(document).ready(function() {
		var id = '<%= f.id_for field %>';
		$('input[type=submit]').click(function() {
			var m, d
			  , date = $('#' + id + '_date')[0].value
			  , time = $('#' + id + '_time')[0].value;
	        if ((m = date.match(/(\d{4,4})-(\d{2,2})-(\d{2,2})$/))) {
	          d = new Date(m[1], m[2] - 1, m[3]);
	        }
	        if ((m = time.match(/(\d{1,2}):(\d{2}) (am|pm)/))) {
	          d.setHours(parseInt(m[1]) + (m[3] == 'pm' ? 12 : 0));
	          d.setMinutes(m[2]);
	        }
	        $('#' + id)[0].value = d;
		});
	});
<% end -%>
