<div class="event row-fluid">
  <div class="event-avatar span2">
    <%= image_tag event.avatar_url, :alt => "#{event.title} avatar" %>
  </div>
  <div class="event-inner span10">
    <div class="event-information">
      <span class="event-name"><%= event.title %></span>
      -
      <span class="event-details">
        <%= link_to event.location, event.map_url %> 
        <% if event.distance %>
          (<%= event.formatted_distance %> away)
        <% end %>
      </span>
    </div>
    <% if show_corrections %>
      <div class="event-correction">
        Innacurate? <%= link_to "Suggest a correction.", "#{new_correction_path}?event_id=#{event.id}" %>
      </div>
    <% end %>
    <% event.tweets.each do |tweet| %>
      <div class="event-tweet">
        <div class="quote-open">“</div>
        <div>
          <%= tweet.text %> <%= link_to tweet.formatted_timestamp, tweet.url %>
        </div>
      </div>
    <% end %>
  </div>
</div>
