<div class="event-tweets">
  <%= render :partial => "shared/tweet", :locals => { :tweet => event.tweets.first } %>
  <% if event.tweets.length > 1 %>
    <%= link_to "+ #{event.tweets.length - 1}", "javascript:toggleTweets(#{event.id})", :id => "#{event.id}_tweet_toggle", :class => "tweet-toggle" %>
    <div id="<%= event.id %>_extra_tweets" class="extra-tweets" style="display: none;">
      <%= render :partial => "shared/tweet", :collection => event.tweets.last(event.tweets.length - 1) %>
      <%= link_to "[collapse]", "javascript:toggleTweets(#{event.id})", :class => "tweet-toggle" %>
    </div>
  <% end %>
</div>
