<div class="event">
  <div class="event-avatar">
    <%= image_tag event.avatar_url, :alt => "#{event.title} avatar" %>
  </div>
  <div class="event-inner">
    <div class="event-information">
      <div class="event-name">
        <%= link_to event.title, event.truck.url %>
        <% if event.distance %>
          (<%= event.formatted_distance %>)
        <% end %>
      </div>
      <div class="event-location">
        <%= link_to event.location, event.map_url %> 
      </div>
    </div>
    <div class="event-tweets">
      <%= render :partial => "shared/tweet", :locals => { :tweet => event.tweets.first } %>
      <% if event.tweets.length > 1 %>
        <%= link_to "+ #{pluralize(event.tweets.length - 1, "more tweet")}", "javascript:toggleTweets(#{event.id})", :id => "#{event.id}_tweet_toggle", :class => "tweet-toggle" %>
        <div id="<%= event.id %>_extra_tweets" style="display: none;">
          <%= render :partial => "shared/tweet", :collection => event.tweets.last(event.tweets.length - 1) %>
          <%= link_to "[collapse]", "javascript:toggleTweets(#{event.id})", :class => "tweet-toggle" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
